# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
venv1/
Back/venv1/

# Virtual environment
Back/venv1/**

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# dotenv
.env

# IDE
.vscode/
.idea/

# Node
Front/node_modules/

# System
.DS_Store
Thumbs.db
